/* TYPOGRAPHY */

/* Google Fonts Roboto Mono */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');

/* COLOURS AND TYPOGRAPHIES ROOT */

:root {
    --blue-text: #66D9ED;
    --white-text: #F7F7F7;
    --red-text: #E31B6D;
    --text-font: 'Roboto Mono', monospace;
}

/* BODY */


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: #1A191D;
}

/* TITLES */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--text-font);
    color: var(--white-text);
    text-align: center;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    font-weight: 300;
}

h2 {
    font-size: 2.4rem;
    font-weight: 500;
    border-bottom: 5px solid var(--red-text);
    margin-bottom: 3rem;
}

p,
span {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--text-font);
    color: var(--white-text);
    -webkit-margin-after: 0;
    margin-block-end: 0;
    -webkit-margin-before: 0;
    margin-block-start: 0;
}

span {
    color: var(--red-text);
}

/* APPEAR ON SCROLL EFFECT */

.js-reveal {
    opacity: 1;
    -webkit-transition: opacity 1s ease-in, margin-top 1s ease-out;
    -o-transition: opacity 1s ease-in, margin-top 1s ease-out;
    transition: opacity 1s ease-in, margin-top 1s ease-out;
}

.js-reveal--hidden {
    opacity: 0;
    margin-top: 3em;
}

/* MAIN MENU */

.menu {
    position: fixed;
    width: 100%;
    height: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    z-index: 2;
    font-weight: 300;
    -webkit-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
}

.menu_items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
}

.menu_item {
    padding: 0 1.5em;
}

.menu_items li a {
    text-decoration: none;
    color: var(--white-text);
    font-family: var(--text-font);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--blue-text);
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1em;
    display: inline-block;
    position: relative;
    text-shadow: 0px 0px 8px var(--blue-text);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.menu_items li a:hover {
    font-size: 1.6rem;
    color: var(--white-text);
    -webkit-text-stroke-width: 0px;

}

/* BURGER MENU */

/* it appears only on mobile resolutions */

#burger_menu {
    display: none;
}

.burger-line {
    border-radius: 15px;
    height: 4px;
    width: 1.8em;
    display: block;
    background-color: var(--white-text);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    margin-top: 5px;
    margin-bottom: 5px;
}

.first {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.second {
    opacity: 0;
    -webkit-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}

.third {
    -webkit-transform: translateY(-20px) rotate(-45deg);
    -ms-transform: translateY(-20px) rotate(-45deg);
    transform: translateY(-20px) rotate(-45deg);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

ul.show {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overflow-menu {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;
}

.solid {
    background-color: #1a191dda;
}

/* HEADER */

header {
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation: gradient_anim 60s ease infinite;
    animation: gradient_anim 60s ease infinite;
    -webkit-box-shadow: inset 0 0 150px rgb(0, 0, 0);
    box-shadow: inset 0 0 150px rgb(0, 0, 0);
    background: -o-radial-gradient(bottom, circle, #260078, #250023);
    background: radial-gradient(circle at bottom, #260078, #250023)
}

@-webkit-keyframes gradient_anim {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }

    50% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }

    100% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
}

@keyframes gradient_anim {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }

    50% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }

    100% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
}

header h1 {
    font-size: 6em;
    font-family: var(--text-font);
}

header h2 {
    font-size: 2.25rem;
    font-weight: 500;
    border-bottom: 0;
}

header h4 {
    font-size: 1.6rem;
}

/* SCROLL ARROW ANIMATION */

.scroll_arrow {
    display: block;
    width: 2rem;
    height: 2rem;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    margin: 0 0 3px 4px;
    -webkit-animation: move_down 2s ease-in-out infinite;
    animation: move_down 2s ease-in-out infinite;
}

@-webkit-keyframes move_down {
    0% {
        -webkit-transform: translateY(-20px) rotate(-45deg);
        transform: translateY(-20px) rotate(-45deg);
        opacity: 0;
    }

    50% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(20px) rotate(-45deg);
        transform: translateY(20px) rotate(-45deg);
        ;
        opacity: 0;
    }
}

@keyframes move_down {
    0% {
        -webkit-transform: translateY(-20px) rotate(-45deg);
        transform: translateY(-20px) rotate(-45deg);
        opacity: 0;
    }

    50% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(20px) rotate(-45deg);
        transform: translateY(20px) rotate(-45deg);
        ;
        opacity: 0;
    }
}


/* MAIN */

main a {
    text-decoration: none;
    color: var(--red-text);
    font-size: 1.5rem;
    font-family: var(--text-font);
    border-radius: 10px;
    padding: 0.5rem;
    border: 0.25rem solid var(--red-text);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

/* SECTION ABOUT */

#about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5rem 0;
    background-color: #1A191D;
}

#about h2:nth-of-type(2) {
    border-bottom: 0;
    font-size: 2.1rem;
}

#profile_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5rem;
    width: 90%;
}

#profile_description {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

#profile_description p {
    margin-bottom: 3rem;
}

#profile_description a:hover {
    color: var(--white-text);
    border-color: var(--white-text);
}

#profile_photo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
}

#profile_img img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

#profile_photo::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid var(--red-text);
    top: 20px;
    left: 20px;
    z-index: -1;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

#profile_photo:hover::after {
    top: -4px;
    left: -2px;
}

#tools {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    margin: 20px auto;
    max-width: calc(100% - 20px);
}

.tool {
    margin: 1rem;
    text-align: center;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    width: 9.5rem;

}

.tool img {
    padding-bottom: 0.5rem;
}



/* SECTION PORTFOLIO */

#portfolio {
    background-color: #25232B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5rem 0;
}

#projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
}

.project {
    width: 40em;
    margin-bottom: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

video {
    width: 100%;
    height: auto;
    border-radius: 4%;
    -webkit-box-shadow: 0 0 30px 1px rgba(121, 121, 121, 0.745);
    box-shadow: 0 0 30px 1px rgba(121, 121, 121, 0.745);
}

.project h2 {
    border-bottom: 0;
    color: var(--red-text);
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 1rem;
}

.project p {
    margin-bottom: 1.5em;
    padding: 0 0.5rem;
}

.project a:hover {
    color: var(--white-text);
    border-color: var(--white-text);
}

/* SECTION CONTACT */

#contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5rem 0;
    padding-bottom: 3rem;
    background-color: #1A191D;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#social_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 4rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#contact_text {
    width: 40rem;
    height: auto;
    margin: 20px auto;
    max-width: calc(100% - 20px);
}

#contact_text p {
    padding: 0 1.5rem;
    text-align: center;
}

.contactForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40rem;
    height: auto;
    margin: 20px auto;
    max-width: calc(100% - 20px);
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2rem;
    width: 90%;
    border-radius: 20px;
    background-color: #25232B;
}

form label {

    font-family: var(--text-font);
    color: var(--red-text);
    font-size: 1.25rem;
    font-weight: 500;
}

form input,
form textarea {
    font-family: var(--text-font);
    border: 0;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    background-color: var(--white-text);
    border-radius: 10px;
}

form div {
    text-align: center;
}

form button {
    text-decoration: none;
    color: var(--red-text);
    font-size: 1.3rem;
    font-family: var(--text-font);
    border-radius: 10px;
    padding: 0.5rem;
    border: 0.25rem solid var(--red-text);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    background-color: transparent;
    cursor: pointer;
}

form button:hover {
    color: white;
    border-color: var(--white-text);
}

.hidden {
    display: none;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 40rem;
    height: auto;
    margin: 20px auto;
    max-width: calc(100% - 20px);
}

.social a {
    display: block;
    padding: 20px;
    font-size: 2rem;
    width: 3em;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.social a:hover {
    color: white;
    border-color: var(--white-text);
}

/* FOOTER */

footer {
    height: 4rem;
    background-color: #1A191D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer p {
    font-size: 1rem;
}

/* THANK YOU PAGE */

#card_main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    background-color: #1A191D;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 26rem;
    height: auto;
    margin: 20px auto;
    max-width: calc(100% - 20px);

    padding: 2rem;
    background: #25232B;
    color: var(--white-text);
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(14, 30, 37, .16);
    box-shadow: 0 2px 4px 0 rgba(14, 30, 37, .16);
}

.card h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 2rem;
    color: var(--red-text);
}

.card p {
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#back_link {
    text-decoration: none;
    color: var(--red-text);
    font-size: 1.3rem;
    font-family: var(--text-font);
    border-radius: 10px;
    padding: 0.5rem;
    border: 0.25rem solid var(--red-text);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    background-color: transparent;
    cursor: pointer;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;

}

/* BREAKPOINT IPAD */

@media screen and (min-width: 800px) and (max-width: 1279px) {

    #profile_content {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    #profile_description p {
        padding-right: 1rem;
    }

    #tools {
        width: 90%;
    }

    .project {
        width: 50em;
    }

    #profile_img img {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        -webkit-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease;
    }
}

/* hover effect that will only work on devices wider than 900px (so it doesn't work on mobile or tablet) */
@media(min-width:900px) {

    #profile_img img:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);

    }

    .tool:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);

    }

}

/* BREAKPOINT FOR MOBILE */

@media screen and (max-width: 793px) {

    p,
    span {
        font-size: 1.3rem;
    }

    .menu {
        -ms-flex-pack: distribute;
        -webkit-box-pack: end;
        justify-content: flex-end;
    }

    .menu_items {
        position: fixed;
        top: -120vh;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #1A191D;
        text-align: center;
        padding-top: 5em;
        z-index: 10;
    }

    #burger_menu {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        z-index: 11;
        padding: 0.8em 2em;
    }

    .menu_items li a {
        font-size: 2em;
    }

    header h1 {
        font-size: 4.5em;
    }

    header h2 {
        font-size: 1.8rem;
    }

    #about {
        scroll-margin-top: -6rem;
    }

    #profile_content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    #profile_photo {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    #profile_img img {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        -webkit-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease;
    }

    #profile_description {
        margin-top: 3rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #tools {
        width: 100%
    }

    .project {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}